---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';
import { YouTube } from 'astro-embed';
import { getPermalink } from '~/utils/permalinks';

const northThompsonImg = '~/assets/images/norththompson.jpg';
const riverImg = '~/assets/images/river.jpg';

const metadata = {
  title: 'North Thompson Jetboat Tours',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },
      { text: 'Book now', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  > -->
  <Fragment>
    <div class="flex w-full place-content-center mt-16">
      <div class="flex rounded-2xl bg-slate-600 py-1.5 px-2">
        <Image src={northThompsonImg} alt="North Thompson Jetboat Tours" width={800} />
      </div>
    </div>
  </Fragment>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book now',
        href: '#features',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title"> Adventure Awaits: Jetboat River Tours in Beautiful British Columbia </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">North Thompson Jetboat Tours</span> specializes in 2-hour river tours in the BC interior.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"
        >North Thompson Jetboat Tours specializes in 2-hour tours in the BC interior.</span
      >
      Perfect for thrill-seekers and nature lovers alike, our trips promise unforgettable memories. Book yours today!
    </Fragment>
  </Hero>

  <!-- <Fragment>
    <div class="flex items-center justify-center w-full pt-10 pb-20">
      <div class="w-full max-w-lg"><YouTube id="e0NbECHS3Sc" /></div>
    </div>
  </Fragment> -->
  <Fragment>
    <div class="flex items-center justify-center w-full pt-10 pb-20">
      <iframe
        width="889"
        height="500"
        src="https://www.youtube.com/embed/e0NbECHS3Sc?si=lZf4wMSY2uc6RgG-"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </Fragment>

  <Content
    isAfterContent
    items={[
      {
        description: 'We launch from Ferry Road in Blackpool (just 10 minutes from Clearwater).',
      },
      {
        description:
          'The adventure starts off going downstream to Little Fort and then blast back up all the back channels right up to the Clearwater River bridge in town. From there we head back down the Clearwater River to the confluence then head back up the North Thompson River to the Raft River.',
      },
      {
        description:
          'Enjoy beautiful views of the Trophy Mountains and Raft Peak. You will get a totally different perspective from the river than you would from the highway. We often see eagles, beavers, deer and bears.',
      },
    ]}
    image={{
      src: riverImg,
      alt: 'River Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What to Expect</h3>About your
      2-hour tour in the North Thompson valley:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        // href: getPermalink('/pricing'),
      },
      {
        variant: 'primary',
        text: 'Book now',
        // href: getPermalink('/pricing')
      },
    ]}
  >
    <Fragment slot="title"> Questions? We're here to help! </Fragment>

    <Fragment slot="subtitle">
      Explore the interior of British Columbia like never before – <br class="hidden md:inline" />fast, fun, and full of
      natural wonder.
    </Fragment>
  </CallToAction>
</Layout>
